[package]
name = "kernel"
version = "0.1.0"
edition = "2021"

[lib]
name = "kernel"
crate-type = ["staticlib"]

[[bin]]
name = "kernel"
path = "src/main.rs"

[dependencies]

[profile.dev]
opt-level = 0
debug = true

[profile.release]
opt-level = 3
debug = false
lto = true
codegen-units = 1

[features]
default = []
