[build]
# Don't use default target, require explicit --target
# target = "x86_64-unknown-linux-gnu"

[target.i686-unknown-linux-gnu]
linker = "i686-linux-gnu-gcc"
ar = "i686-linux-gnu-ar"

[target.aarch64-unknown-linux-gnu]
linker = "aarch64-linux-gnu-gcc"
ar = "aarch64-linux-gnu-ar"
