[package]
name = "devine-arch"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
spin = { workspace = true }
bitflags = { workspace = true }
